/* Dark mode styles */

.dark-mode {
  background-color: #333;
  color: #f5f5f5;
  }
  
  .dark-mode nav {
  background-color: #333;
  color: #fff;
  }
  
  .dark-mode a {
  color: #f5f5f5;
  }
  
  .dark-mode .card {
  background-color: #444;
  color: #f5f5f5;
  }
  
  .dark-mode footer {
  background-color: #333;
  color: #fff;
  }